body {
    background-color: $primary-color;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: $primary-font-family;
    }
    nav {
        button {
            background-color: $primary-color;
            border: none;
            min-height: rem(48);
            min-width: rem(48);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span {
                display: block;
                width: rem(30);
                height: rem(3);
                background-color: $fifth-color;
                border-radius: rem(6);
                margin-bottom: rem(4);
            }
        }
        button:hover {
            span:nth-child(1) {
                margin-right: rem(10);
            }
            span:nth-child(3) {
                margin-right: rem(10);
            }
        }
    }
}

.menu {
    background-color: $forth-color;
    display: none;
    ul {
        color: #fff;
        li {
            a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
.logo-image {
    padding: rem(10);
}
// PRODUCT PAGE

.product-page {
    display: flex;
    flex-direction: column;
    gap: rem(25);
    .sort-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            border: none;
            background-color: $primary-color;
        }
    }

    h2 {
        font-size: rem(32);
        font-family: $primary-font-family;
    }
}

.basic-button {
    background-color: rgb(65, 59, 59);
    min-height: rem(48);
    min-width: rem(48);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    margin: rem(10);
    padding: rem(10);
    border: none;
}

.product-image {
    width: rem(90);
}

// ORDER PAGE
.material-symbols-outlined {
    padding: rem(10);
    margin: rem(10);
}

.order-page {
    background-color: lightblue;
    display: none;

    button {
        background-color: $secondary-color;
        border-radius: rem(30);
    }
}

// FORM PAGE 

.form-page {
    font-family: $primary-font-family;
    font-weight: bold;
    background-color: pink;
    display: visible;
    h2 {
        font-size: rem(16);
        text-transform: uppercase;
    }
}

form {
    margin: rem(15);
    ul {
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }
}

.form-row {
    display: flex;
    justify-content: space-between;

    label {
        text-transform: uppercase;
        font-size: rem(12);
        align-self: center;
    }

    .lower-case {
        text-transform: initial;
    }
    input {
        border: none;
        background-color: #D9D9D9;
        border-radius: rem(16);
        appearance: textfield;
    }
    
}
.button-row{
    display: flex;
    justify-content: center;

    input: {
        background-color: red;
        border-radius: rem(30);
    }
}


.successfull-order-page {
    display: none;
    // display: flex;
    justify-content: center;
    background-color: yellow;
}

