body {
    background-color: $primary-color;
    font-family: $primary-font-family;

}

nav {
    button {
        span {
            display: block;
            width: rem(30);
            height: rem(3);
            background-color: $fifth-color;
            border-radius: rem(6);
            margin-bottom: rem(4);
        }
    }
}
.material-symbols-outlined {
    padding: 0;
    margin: 0;
}

.logo-image {
    padding: rem(10);
}

.basic-button {
    background-color: rgb(65, 59, 59);
    min-height: rem(48);
    min-width: rem(48);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    margin: rem(10);
    padding: rem(10);
    border: none;
}

.product-image {
    width: rem(120);
}

.cart-image {
    width: rem(100);
}

input[type=number] {
    appearance: textfield;
} 

.cart {
    min-height: rem(500);

    button {
        border-radius: rem(30);
    }
}

