body {
    background-color: $primary-color;
    font-family: $primary-font-family;

}

nav {
    button {
        background-color: $primary-color;
        min-height: rem(48);
        min-width: rem(48);
        span {
            display: block;
            width: rem(30);
            height: rem(3);
            background-color: $fifth-color;
            border-radius: rem(6);
            margin-bottom: rem(4);
        }
    }
}
.material-symbols-outlined {
    padding: 0;
    margin: 0;
}
.menu {
    background-color: $forth-color;
}
.logo-image {
    padding: rem(10);
}

.basic-button {
    background-color: rgb(65, 59, 59);
    min-height: rem(48);
    min-width: rem(48);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    margin: rem(10);
    padding: rem(10);
    border: none;
}

.product-image {
    width: rem(120);
}

// ORDER PAGE
// .material-symbols-outlined {
//     padding: rem(10);
//     margin: rem(10);
//     font-size: 2rem;
// }

input[type=number] {
    appearance: textfield;
} 

.cart {
    background-color: lightblue;
    min-height: rem(500);
    overflow: hidden;

    button {
        background-color: $secondary-color;
        border-radius: rem(30);
    }
}

// FORM PAGE 

.form-page {
    background-color: pink;
}

.successfull-order-page {
    display: none;
    background-color: yellow;
}

