$primary-color: #FFFEF8;
$secondary-color: #955C7B;
$third-color: #435460;
$forth-color: #FFBDD7;

$primary-text-color: #000;
$secondary-text-color: #FFF;

$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Roboto Condensed', sans-serif;