@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: lightBackground;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: lightBackground;
}

.menu-span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: pinkAccent;
    border-radius: 1rem;
    margin-bottom: 0.25rem;
}

.material-symbols-outlined {
    padding: 0;
    margin: 0;
}

.logo-image {
    padding: 0.5rem;
}

.cart-image {
    width: 6.25rem;
}

input[type=number] {
    appearance: textfield;
} 
.cart {
    min-height: 30rem;

}