@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #FFFEF8;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #FFFEF8;
}

.menu-span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #F977CA;
    border-radius: 6px;
    margin-bottom: 4px;
}

.material-symbols-outlined {
    padding: 0;
    margin: 0;
}

.logo-image {
    padding: rem(10);
}

.basic-button {
    background-color: rgb(65, 59, 59);
    min-height: 48px;
    min-width: 48px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: none;
}

.cart-image {
    width: 100px;
}

input[type=number] {
    appearance: textfield;
} 
.cart {
    min-height: 500px;

}

.cart-button {
    border-radius: 30px;
}